a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navTextSize {
    font-size: 1.5rem;
}

.leadsm {
    font-size: 1.1em;
  }

.aboutImg {
    display: block;
    width: 90% !important;
    margin-left: auto;
    margin-top: 4rem;
  }

.bgHeader {
    background-color: #0f687e;
}

.bgLighter {
    background-color: #e0f5f9;
}

.bgBlue {
   
    background-color: var(--bs-info-border-subtle);
}

.bgCard {
    background-color: #e9f9fc;
}

.skillImages {
    margin-top: 10px;
    margin-bottom: 16px;
}

.gifStyle {
   border-bottom: 1px solid #0000002d;
}
